@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* CSS 변수 */
:root {
  --body-font: 'Noto Sans KR', sans-serif;

  /* Colors */
  --white-color: #ffffff;
  --black-color: #141414;
  --grey-color: #616161;
  --green-color: #7b9d42;
  --red-color: #b71c1c;

  /* Brand Colors */
  --primary-color: var(--green-color);
  --secondary-color: #26a69a;
  --accent-color: #9c27b0;
  --positive-color: #21ba45;
  --negative-color: var(--color-red);
  --info-color: #31ccec;
  --warning-color: #f2c037;
  --dark-color: #1d1d1d;

  /* Font Weight */
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Typography */
  --font-size-1: 3.5rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 2.5rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;

  --header-height: 4.5rem;

  --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 스크롤을 부드럽게 */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  color: var(--black-color);
  font-size: var(--font-size-5);
  margin-top: var(--header-height);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-black {
  font-weight: var(--font-weight-black);
}

.worklist__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  max-width: 1024px;
  margin-top: var(--spacing-2);
}

.worklist__subtitle {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-2);
}
.worklist__text {
  line-height: 1.4rem;
  text-align: center;
  margin-bottom: var(--spacing-2);
}

.worklist__data {
  margin-left: var(--spacing-2);
}

.comparison-slider {
  position: relative;
  width: 100%;
  margin: auto;
  user-select: none;
  overflow: hidden;
  touch-action: pan-x;
}

.slider___img {
  width: 480px;
}

.comparison-slider > figure {
  margin: 0;
}

.comparison-slider > figure:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.comparison-slider > figure > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  pointer-events: none;
}

.comparison-slider > figure > figcaption {
  position: absolute;
  bottom: 0;
  display: inline-block;
  padding: 5px 10px;
  line-height: 1.5;
  background: rgba(30, 30, 30, 0.7);
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f1f1f1;
  transition: opacity 0.35s, transform 0.35s;
}

.comparison-slider > figure:last-of-type > figcaption {
  right: 0;
}

.comparison-slider > figure > figcaption.hide {
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
}

.comparison-slider > figure:last-of-type > figcaption.hide {
  transform: translate3d(10px, 0, 0);
}

.comparison-slider > .slider {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate3d(-20px, 0, 0);
  background: #f1f1f1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
  text-align: center;
  cursor: grab;
}

.comparison-slider.dragging,
.comparison-slider.dragging > .slider {
  cursor: grabbing;
}

.comparison-slider.dragging > .slider {
  background: #d2abff;
}

.comparison-slider > .slider > svg {
  pointer-events: none;
}
